<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5df77c78-0093-46e3-bb96-4e45a73af040/resourceGroups/PortBelly/providers/Microsoft.Web/sites/PortBelly2</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://portbelly2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>portbelly2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PortBelly2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PortBelly2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PortBellyDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:portbelly2.database.windows.net,1433;Initial Catalog=PortBellyDB;Persist Security Info=False;User ID=PortBelly;Password=LDavidwicho1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:portbelly2.database.windows.net,1433;Initial Catalog=PortBellyDB;Persist Security Info=False;User ID=PortBelly;Password=LDavidwicho1998;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=portbelly2.database.windows.net;Initial Catalog=PortBellyDB;User ID=PortBelly;Password=LDavidwicho1998;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PortBellyDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=portbelly2.database.windows.net;initial catalog=PortBellyDB;user id=PortBelly;password=LDavidwicho1998;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PortBellyDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:portbelly2.database.windows.net,1433;initial catalog=PortBellyDB;persist security info=False;user id=PortBelly;password=LDavidwicho1998;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>